@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.app__wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 12fr;
  min-height: 100vh;
}

.app__wrapper__content {
  grid-area: c;
  background-color: #edeef0;
  padding: 20px 100px;
}
body {
  margin: 0;
  padding: 0;
}
