.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs__items {
  padding: 10px;
}
.dialog {
  color: white;
  text-decoration: none;
}
.messages {
  padding: 10px;
}
.message {
}
.active {
  color: gold;
  text-decoration: none;
}
